@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,700);
@import "_null";

$main-color: #fff;
$second-color: #000;


body {
  color: $main-color;
  line-height: normal;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Comfortaa',sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.titles {
  color: $second-color;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main.__container {
  margin: 151px auto 0px;
}

@media (max-width: 1000px) {
  .main.__container {
    margin-top: 75px;
  }
}

@media (max-width: 480px) {
  .main.__container {
    margin-top: 60px;
  }
}

[class*=__container] {
  width: 100%;
  max-width: 1335px;
  margin: 0 auto;
  padding: 5px 30px;
  overflow: hidden;
}

@media (max-width: 765px) {
  [class*=__container] {
    padding: 0px 15px;
  }
}

/*-------------------------------------------------------------------------*/




