.header {
    &__contacts {
        display: flex;
        align-items: center;
        gap: 30px;
    } 

    &__contacts-tel {
        white-space: nowrap;
        font-size: 17px;
        font-weight: 500;
        position: relative;
        color: #fff;
        &::before {
            transition: width 0.5s;
            content: '';
            position: absolute;
            left: 0; 
            bottom: -1px;
            width: 0;
            height: 1px;
            background-color: #fff;
        }

        &:hover {
            color: #FFC5D6;
            &::before {
                width: 100%;
                background-color: #FFC5D6;
            }
        }
    }
}

.tel {
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    color: #fff;
    &::before {
        transition: width 0.5s;
        content: '';
        position: absolute;
        left: 0; 
        bottom: -1px;
        width: 0;
        height: 1px;
        background-color: #fff;
    }
    &:hover {
        color: #FFC5D6;
        &::before {
            width: 100%;
            background-color: #FFC5D6;
        }
    }
}

.email {
text-decoration: underline;
transition: all 0.3s ease 0s;
&:hover {
    color: #FFC5D6;
    text-decoration: underline;
}
}